<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>QRコードを読み取るためにカメラを使用します。</string>
	<key>NFCReaderUsageDescription</key>
	<string>NFCタグに書き込まれたURLを読み取るためにNFCを使用します。</string>
</dict>
</plist>
